<template>
  <div class="dashboard">
    <h1 class="subheading">Dashboard</h1>
    <v-btn class="pink white--text">Click Me</v-btn>
    <span>
      <span>Embody URL:</span>
      http://127.0.0.1:8181
    </span>
    <v-btn depressed class="red white--text">
      <v-icon left>email</v-icon>
      <span>Email me</span>
    </v-btn>
    <v-container class="my-5">
      <img class="image" :src="screenImage">
      <v-btn @click="moveMouse('up')">
        <span>Go Up</span>
      </v-btn>
    </v-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { State, Action, Getter } from 'vuex-class'
import { RobotState } from '../store/robot/types'

const namespace: string = 'robot'

@Component
class Dashboard extends Vue {
  @Action('startRecordingScreen', { namespace }) startRecordingScreen: any
  @Action('moveMousePosition', { namespace }) moveMousePosition: any

  screenImage: any = ''

  get cameraImage (): string {
    return 'http://localhost:8181/v0/robot/sensor/camera'
  }

  moveMouse (direction: string) {
    let dx: number = 0
    let dy: number = 0

    const moveSpeed = 10

    switch (direction) {
      case 'up': {
        dy += moveSpeed
        break
      }
      case 'down': {
        dy -= moveSpeed
        break
      }
      case 'left': {
        dx += moveSpeed
        break
      }
      case 'right': {
        dx -= moveSpeed
        break
      }
      default: console.log('Unknown direction: ', direction)
    }

    this.moveMousePosition({ dx, dy })
  }

  mounted () {
    // this.startRecordingScreen((data: any) => {
    //   const urlCreator = window.URL || (window as any).webkitURL
    //   const imageURL = urlCreator.createObjectURL(data.data)
    //   this.screenImage = imageURL
    // })

    this.listenToKeyboard()
  }

  listenToKeyboard () {
    document.addEventListener('keydown', (event) => {
      switch (event.key) {
        case 'w': {
          this.moveMouse('up')
          break
        }
        case 'a': {
          this.moveMouse('left')
          break
        }
        case 's': {
          this.moveMouse('down')
          break
        }
        case 'd': {
          this.moveMouse('right')
          break
        }
        default: /* do nothing */
      }
    })
  }
}

export default Dashboard
</script>

<style scoped lang="scss">
.image {
  max-width: 300px;
  max-height: 300px;
  border: 1px solid black;
}
</style>
