<template lang="html">
  <div class="robots">
    <h1 class="subheading">Robots</h1>

    <v-container class="my-5">
      Content
    </v-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component
class Robots extends Vue {
}

export default Robots
</script>

<style lang="scss">
</style>
