<template lang="html">
  <div class="team">
    <h1 class="subheading">Team</h1>

    <v-container class="my-5">
      Content
    </v-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component
class Team extends Vue {
}

export default Team
</script>

<style lang="scss">
</style>
