<template lang="html">
  <div class="actuator-details">
    <h1 class="subheading">Actuator Details</h1>

    <v-container class="my-5">
      Content
    </v-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component
class ActuatorDetails extends Vue {
}

export default ActuatorDetails
</script>

<style lang="scss">
</style>
