<template lang="html">
  <div class="ai-system-details">
    <h1 class="subheading">AI System Details</h1>

    <v-container class="my-5">
      Content
    </v-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component
class AISystemDetails extends Vue {
}

export default AISystemDetails
</script>

<style lang="scss">
</style>
