<template lang="html">
  <div class="general-details">
    <h1 class="subheading">General Details</h1>

    <v-container class="my-5">
      Content
    </v-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component
class GeneralDetails extends Vue {
}

export default GeneralDetails
</script>

<style lang="scss">
</style>
