<template lang="html">
  <div class="sensor-details">
    <h1 class="subheading">SensorDetails</h1>

    <v-container class="my-5">
      Content
    </v-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component
class SensorDetails extends Vue {
}

export default SensorDetails
</script>

<style lang="scss">
</style>
