<template lang="html">
  <header>
    <nav>
      <v-toolbar flat app>
        <v-toolbar-side-icon @click="isDrawerOpen = !isDrawerOpen"></v-toolbar-side-icon>
        <v-toolbar-title class="text-uppercase">
          <span class="font-weight-light">Embody</span>
          <span>UI</span>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn flat color="grey">
          <span>English</span>
          <v-icon right>language</v-icon>
        </v-btn>
      </v-toolbar>

      <v-navigation-drawer v-model="isDrawerOpen" app stateless class="light-blue">
        <v-list>
          <v-list-tile v-for="link in links" :key="link.text" router :to="link.route">
            <v-list-tile-action>
              <v-icon class="white--text">{{ link.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title class="white--text">{{ link.text }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-navigation-drawer>
    </nav>
  </header>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component
class NavHeader extends Vue {
  isDrawerOpen: boolean = false
  links: Array<{}> = [
    { icon: 'dashboard', text: 'Dashboard', route: '/' },
    { icon: 'folder', text: 'My Robots', route: '/robots' },
    { icon: 'person', text: 'Team', route: '/team' }
  ]
}

export default NavHeader
</script>

<style lang="css">
</style>
