<template>
  <v-app>
    <NavHeader></NavHeader>
    <v-content class="mx-4 my-4">
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { State, Action, Getter } from 'vuex-class'
import NavHeader from '@/components/NavHeader.vue'

@Component({
  components: {
    NavHeader
  }
})
class App extends Vue {
  @Action('moveMousePosition', { namespace: 'robot' }) moveMousePosition: any
  mounted () {
    // this.listenToImageUpdate()
  }
}

export default App
</script>
